<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                Testing Symfony 3.01
            {% endblock %}
        </title>
        {% block stylesheets %}
            {% stylesheets
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css' %}
            <link href="{{ asset_url }}" rel="stylesheet" media="all"/>
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body>
        {% include 'messages.html.twig' %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% javascripts
                'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>